{% extends "base.html" %}

{% block content %}
<h4>Naujų automobilių lentelė</h4>
<form action="" method="get">
    <p><input type="text" name="searchlaukelis"></p>
    <p><input type="submit" value="filtruoti pagal gamintoją"></p>
</form>

<p><a href="/automobilis/naujas">Įvesti naują automobilį</a></p>
<table>
    <tr>
        <th>id</th>
        <th>gamintojas</th>
        <th>modelis</th>
        <th>spalva</th>
        <th>kaina</th>

    </tr>
    {% for automobilis in automobiliai %}
    <tr>
        <td>{{ automobilis.id }}</td>
        <td>{{ automobilis.gamintojas }}</td>
        <td>{{ automobilis.modelis }}</td>
        <td>{{ automobilis.spalva }}</td>
        <td>{{ automobilis.kaina }}</td>
        <td><a href="/automobilis/{{ automobilis.id }}">žiūrėti</a>
            <a href="/automobilis/redaguoti/{{ automobilis.id }}">redaguoti</a>
            <form action="/automobilis/trynimas/{{ automobilis.id }}" method="post" style="display:inline;">
                <input type="submit" value="trinti">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}