{% extends "base.html" %}

{% block content %}
<h4>Automobilio redagavimas</h4>
<form action="" method="post">
    <p>Automobilio gamintojas:</p>
    <p><input type="text" value="{{ automobilis.gamintojas }}" name="gamintojaslaukelis"></p>
    <p>Automobilio modelis:</p>
    <p><input type="text" value="{{ automobilis.modelis }}" name="modelislaukelis"></p>
    <p>Automobilio spalva:</p>
    <p><input type="text" value="{{ automobilis.spalva }}" name="spalvalaukelis"></p>
    <p>Automobilio kaina:</p>
    <p><input type="text" value="{{ automobilis.kaina }}" name="kainalaukelis"></p>
    <p><input type="submit" value="išsaugoti"></p>
</form>
{% endblock %}